//
   Created by Mohamed.Khalil on 9/15/2016.

html
    head
        script(src="../public/scripts/angular/angular.js")
        script(src="../public/src/app.js")
    body(ng-app='nodeClient')
        div(ng-controller='firstController')
            h1 hello #{name} {{lastName}}
